asgiref==3.8.1 ; python_version >= "3.9" and python_version < "4.0"
attrs==24.2.0 ; python_version >= "3.9" and python_version < "4.0"
django==3.2.25 ; python_version >= "3.9" and python_version < "4.0"
djangorestframework==3.12.4 ; python_version >= "3.9" and python_version < "4.0"
drf-spectacular==0.15.1 ; python_version >= "3.9" and python_version < "4.0"
inflection==0.5.1 ; python_version >= "3.9" and python_version < "4.0"
jsonschema-specifications==2024.10.1 ; python_version >= "3.9" and python_version < "4.0"
jsonschema==4.23.0 ; python_version >= "3.9" and python_version < "4.0"
pytz==2024.2 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "4.0"
referencing==0.35.1 ; python_version >= "3.9" and python_version < "4.0"
rpds-py==0.20.0 ; python_version >= "3.9" and python_version < "4.0"
sqlparse==0.5.1 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "3.11"
uritemplate==4.1.1 ; python_version >= "3.9" and python_version < "4.0"
